{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<section class="library-container container">
    {% if user.first_name %}
    <h3>{% trans "Welcome" %} {{ user.first_name }}</h3>    
    {% else %}
    <h3>{% trans "Welcome" %} {{ user.username }}</h3>
    {% endif %}

    <h2>You're viewing the library for {{ user.username }}</h2>
    
    <section class="albums">
        <h2>Albums</h2>
        {% for album in albums %}
        <a href="{% url 'album_detail' id=album.id %}">
        {% thumbnail album.cover.image "100x100" crop="center" as im %}
        <img title="{{album.title}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    </a>
        <button class="album_edit">Edit</button>
        {% endfor %}
        <button><a href="{% url "add_album" %}">Add New</a></button>
    </section>
    <section class="photos">
        <h2>Photos</h2>
        {% for photo in photos %}
        {% thumbnail photo.image "100x100" crop="center" as im %}
        <a href="{% url "photo_detail" id=photo.id %}"><img title="{{photo.title}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
        {% endthumbnail %}       
        {% endfor %}
        <button><a href="{% url "add_photo" %}">Add New</a></button>
    </section>
</section>
{% else %}
<h1>{% trans "Please log into the site to view your library" %}</h1>
{% endif %}
{% endblock content %}