body {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 300;
    color: rgb(4, 4, 27);
    background: rgb(199, 49, 29);
  }
  nav {
      position: relative;
      width: 100%;
      height: 100px;
      background-color: limegreen;
  }
  ul {
    list-style-type: none;
  }
  footer {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  // font-family: 'Righteous', cursive;
  // font-family: 'Permanent Marker', cursive;
  // font-family: 'Kaushan Script', cursive;
  // font-family: 'Kalam', cursive;
  // font-family: 'Hammersmith One', sans-serif;