#main_nav {
    position: absolute;
    right: 30px;
}

p {
  font-weight: 300;
}

li a {
  margin-top: 25px;
  margin-left: 9px;
  color: rgb(19, 102, 32);
}

#logo {
  width: 85px;
}

#logo {
  position: absolute;
  left: 20px;
  color: black;
  text-decoration: none;
  margin: 8px 4px;
  margin-bottom: 10px;
}

#home_img {
  width: 600px;
}

.public-photo-container img {
  width: 600px;
}
