<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Django Shopper Demo</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Signup</a></li>
        <li><a href="">Signin</a></li>
        <li><a href="">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock content%}
  </main>
  <footer>

  </footer>

</body>
</html>