{% extends "generic/base.html" %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<section class="profile-container container">
    {% if user.first_name %}
    <h3>{% trans "Welcome" %} {{ user.first_name }}</h3>    
    {% else %}
    <h3>{% trans "Welcome" %} {{ user.username }}</h3>  
    {% endif %}

    <h2>You're viewing the profile for {{ profile.user.username }}</h2>
    <p>{% trans "Last Login" %}: {{ profile.user.last_login }}</p>
    <p>{% trans "Member Since" %}: {{ profile.user.date_joined }}</p>
    
    {% if profile.user.username == user.username %}
    <section class="profile-images">
        <h2>Your Albums and Photos</h2>
        <p>{% trans "You have" %} {{ num_albums }} {% trans "albums" %}, {{ num_public_albums }} {% trans "are public" %}</p>
        <p>{% trans "You have" %} {{ num_photos }} {% trans "photos" %}, {{ num_public_photos }} {% trans "are public" %}</p>
        <a href="{% url "settings" %}">{% trans "Edit Profile" %}</a>
    </section>
    {% endif %}

  <!-- Handle the Product and Photo context that was passed from the view -->

</section>
{% else %}
<h1>{% trans "Please log into the site to view your profile" %}</h1>
{% endif %}
{% endblock content %}